@font-face {
    font-family: 'aileronregular';
    src: url('fonts/Aileron-Regular-webfont.eot');
    src: url('fonts/Aileron-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Aileron-Regular-webfont.woff2') format('woff2'),
         url('fonts/Aileron-Regular-webfont.woff') format('woff'),
         url('fonts/Aileron-Regular-webfont.ttf') format('truetype'),
         url('fonts/Aileron-Regular-webfont.svg#aileronregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'aileronlight';
    src: url('fonts/Aileron-Light-webfont.eot');
    src: url('fonts/Aileron-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Aileron-Light-webfont.woff2') format('woff2'),
         url('fonts/Aileron-Light-webfont.woff') format('woff'),
         url('fonts/Aileron-Light-webfont.ttf') format('truetype'),
         url('fonts/Aileron-Light-webfont.svg#aileronlight') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'aileronultralight';
    src: url('fonts/Aileron-UltraLight-webfont.eot');
    src: url('fonts/Aileron-UltraLight-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Aileron-UltraLight-webfont.woff2') format('woff2'),
         url('fonts/Aileron-UltraLight-webfont.woff') format('woff'),
         url('fonts/Aileron-UltraLight-webfont.ttf') format('truetype'),
         url('fonts/Aileron-UltraLight-webfont.svg#aileronultralight') format('svg');
    font-weight: normal;
    font-style: normal;

}

*{
    font-family: 'aileronregular', Arial, Helvetica, sans-serif;
}

body{
    border: 2px #c4c4c4 solid;
    width: 1190px;
    margin: auto;
    display: flex;
}
p{
    color: #424242;
}

/* Contenu, avec la photo de profil, sur fond jaune qui s'étale à la verticale sur la gauche */

aside{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 32.5%;
    background-color: #ffcf00;
}
#photo{
    display: flex;
    padding: 75px 0px;
}
aside img{
    display: block;
    max-width: 225px;
    border: 3px #dfb300 solid;
    border-radius: 100%;
    margin: auto;
}
aside h2{
    font-size: 31px;
    color: #ffcf00;
    text-align: center;
    padding: 7px 0px;;
    background-color: #424242;
}

.aside_bloc:nth-child(3){
    flex: 2;
    text-align: justify;
}
.aside_bloc:nth-child(4){
    text-align: center;
    padding-bottom: 40px;
}
.aside_bloc p{
    font-weight: 600;
    padding: 20px 45px 40px 45px;
}
#hobbies{
    display: flex;
    padding: 0px 60px;
}
#hobbies img{
    max-width: 65px;
    padding: 3px;
    border: 3px #424242 solid;
    border-radius: 100%;
}

/* Contenu avec le titre, la formation, les expériences professionnelles et les recommandations */

#content{
    width: 60%;
    margin-left: 60px;
    margin-right: 45px;
}
#entete{
    margin: 110px 0px 130px 0px;
}
h1{
    font-family: 'aileronultralight';
    font-size: 63px;
    font-weight: 600;
    margin-bottom: 10px;
}
h1+p{
    font-size: 31px;
    font-weight: 600;
    margin-bottom: 0px;
}
#title_color{
    font-family: 'aileronlight';
    font-weight: bolder;
    color: #ffcf00;
}
#title_border{
    border-bottom: 2px #ffcf00 solid;
}
#content h2{
    font-size: 31px;
    padding-bottom: 20px;
    margin: 0px 0px 45px 0px;
    border-bottom: 2px #ffcf00 solid;
}
h2 i{
    color: #ffcf00;
    margin-right: 40px;
}

#content h3, h4{
    color: #424242;
}
#content h3{
    font-size: 23px;
}
#content h4{
    font-family: 'aileronlight';
    font-size: 17px;
}

section{
    display: flex;
    flex-direction: column;
}
.conteneur{
    padding-bottom: 45px;
}
.conteneur, .period{
    display: flex;
    justify-content: space-between;
}

.period i{
    font-size: 13px;
    color: #ffcf00;
    margin-right: 15px;
}
i[class*="far"]{
    font-size: 19px;
}
.period p, h3{
    margin: 0px;
    font-weight: bold;
}
.description{
    width: 65%;
}
.reco{
    width: 45%;
}

/* Media Queries pour un style responsive */
